body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
}

.garden-body {
        background-color: #4a772f;
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    text-align: center;
    margin: 0px 0px 0px 10px;
}

h4 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    margin: 0px;
}

a {
    color: wheat;
    text-decoration: none;
}

#get-started {
    color: black;
    font-weight: bold;
}

#td-plot {
    width: 200px;
}

.banner {
    background-color: #3f4441;
    color: wheat;
    margin: 0px;
    border: 0px;
    padding: 20px;
}

#contact {
    background-color: #3f4441;
    color: wheat;
    margin: 0px;
    border: 0px;
    padding: 0px;
    display: block;
    text-align: center;
}

#contact-footer {
    text-align: center;
}


.title {
    font-size: 120px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 10;
    width: 80%;
    display: inline-block;
}

.menu {
    font-size: 18px;
    width: 10%;
    display: inline-block;
    text-align: right;
}

.project-container{
    margin: 50px;
    border: 50px;
    padding: 50px;
}


.section-header {
    margin: 30px 30px 0 30px;
    text-align: center;
    font-size: 80px;
    
}

.about-img {
    height: 250px;
    width: 200px;
    margin: 0 40% 0 40%;    
}

.about-me {
    margin: 20px auto 0px auto;
    text-align: center;
    width: 50%; 
}

.project-image {
    height: 200px;
    width: 200px;
    float: left;
    margin-right: 20px;
}

.project-body{
    display: inline;
    padding: 20px;
    
}

.project-description {
    width: 80%;
}

.link {
    margin: 100px;
}


.time-control {
    padding: 0px;
    margin: 0 0 0 35%;
}


.time-btn {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: grey;
    width: 120px;
    height: 30px;
    padding: 5px; 
    border-radius: 3%;
}


.control-panel {
    width: 280px;
    background-color: #f0ece3;
    margin: 20 0 20 0;
    display: inline-block;
    border-radius: 2%;
}


.settings-panel {
    height: 50px;
    width: 60px;
    display: inline-block;
}

#settings-btn {
    height: 40px;
    width: 40px;
    margin: 20px 0px 0px 0px;
    border-radius: 50%;
}

.reset-panel {
    width: 150px;
    display: inline-block;
    margin: 0px 50px 20px 10px;
}

#plot-area {
    position: absolute;
    margin: 20 0 20 0;
    width: 50%;
    display: inline-block;
}

.plot {
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    margin: 0px 30px 5px 5px;
}

.panel {
    height: 130px;
    width: 30%;
    margin-top: 10px;
}

#resources-table {
    margin: 5px 0px 0px 15px;
}

button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f6eedf;
    background-color: #1f4068;
    border-style: none;
    width: 120px;
    height: 30px;
    padding: 5px; 
    border-radius: 4%;
    box-shadow: 2px 2px #393e46;
}

.selected-button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(153, 86, 86);
    width: 120px;
    height: 30px;
    padding: 5px; 
    border-radius: 4%;
}

button:hover {
    background-color: #3282b8;
}

.close-btn {
    background-color: #e4e3e3;
    color: black;
}

.close-btn:hover {
    background-color: black;
    color: white;
}

.form-container {
    background-color: white;
    padding: 10px;
    width: 300px;
    border-radius: 4%;
    position: fixed;
    display: inline;
}

#settings-form {
    display: none;
    padding: 5px;
    border: 3px black;
    height: 400px;
    width: 300px;
    position: fixed;
    top: 200px;
    right: 200px;
    z-index: 9;
}

#crop-form {
    display: none;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 100px;
    right: 200px;
    z-index: 9;
}

#crop-info {
    display: none;
    width: 200px;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 100px;
    right: 120px;
    z-index: 9;
}

#harvest-popup {
    display: none;
    width: 200px;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 100px;
    right: 120px;
    z-index: 9;
}

#add-plot-popup {
    display: none;
    width: 200px;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 100px;
    right: 120px;
    z-index: 9;
}

#compost-popup {
    display: none;
    width: 200px;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 100px;
    right: 120px;
    z-index: 9;
}

#reset-popup {
    display: none;
    width: 200px;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 100px;
    right: 120px;
    z-index: 9;
}

#harvest-form {
    display: none;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 100px;
    right: 200px;
    z-index: 9;
}

#res-popup {
    display: none;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 200px;
    right: 600px;
    z-index: 10;
}

#wat-popup {
    display: none;
    padding: 5px;
    border: 3px black;
    position: fixed;
    top: 200px;
    right: 600px;
    z-index: 10;
}



.square {
    background-color: #42240c;
    height: 100px;
    width: 100px;
    margin: 1px;
    border-radius: 3%;
    z-index: 2;
}

.dropdown:hover {
    background-color: #2f2519;
}

.dropdown {
    background-color: #42240c;
    height: 99px;
    width: 99px;
    border-radius: 3%;
    margin: 1px;
    border: 0;
    z-index: 2;
}

.selected {
    background-color: #2f2519;
    height: 100px;
    width: 100px;
    margin: 0;
    border: 0;
}


.small-image {
    position: absolute;
    height: 20px;
    width: 20px;
    margin: -65px -60px 35px 40px;
    z-index: 10;
}

.large-image {
    position: absolute;
    height: 80px;
    width: 60px;
    margin: -95px -80px 5px 20px;
    z-index: 10;
}

#selection {
    height: 100px;
}




/* Color palette
dark green: #2b580c
light green:#639a67
lime:#d8ebb5
brown: #d9bf77 


*/